.registerСontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerСontainer label{
    font-size: 28px;
    color: white;
}

.registerСontainer input{
    height: 35px;
    font-size: 25px;
    border-radius: 8px;
}
